<div class="container mx-auto max-w-sm">
  <div class="mb-6 bg-gradient-to-br from-sky-500 via-sky-600 to-sky-700 rounded-lg shadow-lg p-8 text-white">
    <h2 class="text-3xl font-semibold mb-6 text-center">Add New Recipe</h2>

    <%= form_with(model: @recipe) do |form| %>
      <% if @recipe.errors.any? %>
        <div class="bg-red-200 text-red-800 p-4 rounded mb-4">
          <h2 class="font-semibold mb-2"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
          <ul>
            <% @recipe.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :name, class: "block font-semibold mb-2 text-white" %>
        <%= form.text_field :name, class: "w-full px-4 py-2 bg-blue-200 bg-opacity-75 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300 text-blue-900 placeholder-blue-500 placeholder-opacity-75" %>
      </div>

      <div class="flex justify-between mb-4">
        <div class="w-1/2 pr-2">
          <%= form.label :preparation_time, class: "block font-semibold mb-2 text-white" %>
          <%= form.text_field :preparation_time, class: "w-full px-4 py-2 bg-blue-200 bg-opacity-75 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300 text-blue-900 placeholder-blue-500 placeholder-opacity-75" %>
        </div>
        <div class="w-1/2 pl-2">
          <%= form.label :cooking_time, class: "block font-semibold mb-2 text-white" %>
          <%= form.text_field :cooking_time, class: "w-full px-4 py-2 bg-blue-200 bg-opacity-75 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300 text-blue-900 placeholder-blue-500 placeholder-opacity-75" %>
        </div>
      </div>

      <div class="mb-4">
        <%= form.label :description, class: "block font-semibold mb-2 text-white" %>
        <%= form.text_area :description, class: "w-full px-4 py-2 h-16 bg-blue-200 bg-opacity-75 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300 text-blue-900 placeholder-blue-500 placeholder-opacity-75" %>
      </div>

      <div class="mb-4 flex items-center">
        <%= form.label :public, class: "block font-semibold mr-2 text-white" %>
        <%= form.check_box :public, class: "form-checkbox h-5 w-5 text-blue-500" %>
        <span class="text-white text-sm"></span>
      </div>

      <div class="text-center">
        <%= form.submit "Save Recipe", class: "w-full px-6 py-2 bg-sky-700 hover:bg-sky-800 focus:outline-none focus:ring focus:border-blue-300 rounded-lg transform transition-transform motion-reduce:transform-none" %>
      </div>
    <% end %>
  </div>
</div>
